extends layout

block content
  div.container
    h1= title
    form(method='GET' action='')
      div.row
        div.col
          div.form-group
            input#name.form-control(type='text', placeholder='1.1.1.1' name='ip' value=(undefined===ip ? '' : ip), required='true' )
        div.col-md-auto
          button.btn.btn-primary(type='submit') Query

    if blacklistedResult
      p blacklist: #{blacklistedResult.blacklist}
      if blacklistedResult.subnet
        p subnet: #{blacklistedResult.subnet}
      if blacklistedResult.ip
        p IP: #{blacklistedResult.ip}

    if error
      p= error
